<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800 pl-3">{{ titulo }}</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered table-striped"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>id</th>
            <th>Nome</th>
            <th>Logradouro</th>
            <th>CEP</th>
            <th>Cidade</th>
            <th>UF</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>id</th>
            <th>Nome</th>
            <th>Logradouro</th>
            <th>CEP</th>
            <th>Cidade</th>
            <th>UF</th>
            <th>Ações</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nomeCompleto }}</td>
            <td>{{ cliente.endereco.rua }}, {{ cliente.endereco.numero }}</td>
            <td>{{ cliente.endereco.cep }}</td>
            <td>{{ cliente.endereco.cidade }}</td>
            <td>{{ cliente.endereco.uf }}</td>
            <td>
              <a
                class="btn btn-success btn-circle btn-sm m-1"
                href="#"
                data-toggle="modal"
                data-target="#verCliente"
                (click)="SelecionaCliente(cliente)"
              >
                <i class="fas fa-eye"></i>
              </a>
              <a href="#" class="btn btn-warning btn-circle btn-sm m-1">
                <i class="fas fa-pencil-alt"></i>
              </a>
              <a href="#" class="btn btn-danger btn-circle btn-sm m-1">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Logout Modal-->
<div
  *ngIf="clienteSelecionado"
  class="modal fade"
  id="verCliente"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cliente</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ clienteSelecionado.nomeCompleto }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          voltar
        </button>
        <!-- <a class="btn btn-primary" href="login.html">Logout</a> -->
      </div>
    </div>
  </div>
</div>
